.left-panel {
	height: 100vh;
	background: rgb(255, 130, 35);
	background: linear-gradient(
		45deg,
		rgba(255, 130, 35, 1) 2%,
		rgba(237, 67, 57, 1) 100%
	);
}

.left-panel h2 {
	font-family: 'Roboto', serif;
	font-size: 10vmin;
	letter-spacing: 1px;
}

.left-panel h2 span {
	background: orange;
	padding: 2px;
	border: 1px solid #321123;
	border-radius: 10px;
}

.left-panel h5 {
	letter-spacing: 1.5px;
	font-family: 'Cabin', sans-serif;
}

.form-container {
	width: 70%;
}

.form-container img {
	height: 150px;
	width: 150px;
	margin-top: -100px;
	margin-bottom: 40px;
}
